<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ group.name }} | Roblox Group Wall Archiver</title>

  <link rel="stylesheet" href="../assets/style.css">

  <link rel="icon" href="../assets/favicon.ico">
  <link rel="icon" href="../assets/favicon.svg" type="image/svg+xml">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="root">
    <a href="../index.html">Back</a>
    <article>
      <div class="preview group-top">
        <img src="{{ group.thumbnail }}" class="group-thumbnail">
        <div class="preview-info">
          <a href="{{ group.group_url }}" class="group-title">{{ group.name }} 
            {% if group.verified %}
            <img src="../assets/verified-icon.png" class="verified-icon">
            {% endif %}
          </a>
          <a href="{{ group.owner.profile_url }}" class="owner-name-container">
            By {{ group.owner.display_name }} 
            {% if group.verified %}
            <img src="../assets/verified-icon.png" class="verified-icon">
            {% endif %}
            <span class="owner-username"> @{{ group.owner.name }}</span>
          </a>
          <span class="owner-name-container">{{ group.members }} Members</span>
        </div>
      </div>
      
      <div class="description">
        <span class="section-header">Description</span><br>
        <span class="description-content">{{ group.description }}</span>
      </div>


      <hr class="rounded hr-margin-adjusted">

      {% if group.shout and group.shout.body %}    <!-- Didnt realise this existed. i kinda like this jinja2 thing -->
      <div class="description">
        <span class="section-header">Shout</span><br>
        <div class="preview">
          <img src="{{ group.shout.poster.headshot }}" class="preview-thumbnail user-thumbnail">
          <div class="preview-info">
            <a href="{{ group.shout.poster.profile_url }}" class="message-author-name">{{ group.shout.poster.display_name }} 
              {% if group.verified %}
              <img src="../assets/verified-icon.png" class="verified-icon">
              {% endif %}
            <span class="owner-username"> @{{ group.shout.poster.name }} </span></a>
            <span class="message-content shout-content">{{ group.shout.body | safe }}</span>
            <span class="message-details">{{ group.shout.created_date }} | {{ group.shout.created_time }}</span>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="wall description">
        <span class="section-header">Wall</span><br>

        {% for message in messages %}
        <hr class="rounded">
        <div class="preview">
          <img src="{{ message.author.headshot }}" class="preview-thumbnail user-thumbnail">
          <div class="preview-info">
            <a href="{{ message.author.profile_url }}" class="message-author-name">{{ message.author.display_name }} 
              {% if group.verified %}
              <img src="../assets/verified-icon.png" class="verified-icon">
              {% endif %}
            <span class="owner-username"> @{{ message.author.name }} </span></a>
            <span class="message-content">{{ message.body | safe }}</span>
            <span class="message-details">{{ message.author.role }} | {{ message.created_date }} | {{ message.created_time }}</span>
          </div>
          
        </div>
        {% endfor %}
      </div>

    </article>
    <p>Archived on {{ archive_date }} with <a href="https://github.com/Salty-Coder/roblox-group-wall-archiver">roblox-group-wall-archiver</a> 💎</p>
  </div>
</body>
</html>
